<div class="tabel">
    <table>
        <tr tpl-if="$action" class="add-text">
            <td id='message-block'>{{ $action }}</td>
        </tr>
        <tr>
            <td class="name">Eesnimi</td>
            <td class="name">Perekonnanimi</td>
            <td class="name">Hinne</td>
        </tr>
        <tpl tpl-foreach="$authors as $author">
            <tr>
                <td class="name_of"><a href='?cmd=author-edit&id={{$author->author_id}}'>{{ $author->first_name }}</a></td>
                <td class="name_of">{{ $author->last_name }}</td>
                <td class="name_of">{{ $author->author_grade }}</td>
            </tr>
        </tpl>

    </table>
</div>