<form action="../index.php?cmd=save-author" method="post">
   <table>
        <tr tpl-if=$action class="add-text">
            <td>Muuda sissekannet:</td>
        </tr>
        <tr tpl-if=$errors class='error-block'>
            <td>{{ $errors[0] }}</td>
        </tr>
    </table>
    <input type="hidden" name="author_id" value='{{$author->author_id}}'>
    <input type="hidden" name="cmd" value="save-author">
    <input tpl-if=$action type="hidden" name="edit" value="edit">
    <table>
        <tr class="input-name">
            <td class="first-part"><label for="eesnimi">Eesnimi:</label></td>
            <td><input type="text" id="eesnimi" name="firstName" class="input"
                       value='{{$author->first_name}}'>
            </td>
        </tr>
        <tr class="input-name">
            <td class="first-part"><label for="perekonnanimi">Perekonnanimi:</label></td>
            <td><input type="text" id="perekonnanimi" name="lastName" class="input"
                       value="{{$author->last_name}}">
            </td>
        </tr>
        <tr class="input-name">
            <td class="first-part"><label>Hinne:</label></td>
            <td><input type="radio" id="hinne1" name="grade" value="1"
                       tpl-checked="$author->author_grade > 0">
                <label for="hinne1">1</label>
                <input type="radio" id="hinne2" name="grade" value="2"
                       tpl-checked="$author->author_grade > 0">
                <label for="hinne2">2</label>
                <input type="radio" id="hinne3" name="grade" value="3"
                       tpl-checked="$author->author_grade > 0">
                <label for="hinne3">3</label>
                <input type="radio" id="hinne4" name="grade" value="4"
                       tpl-checked="$author->author_grade > 0">
                <label for="hinne4">4</label>
                <input type="radio" id="hinne5" name="grade" value="5"
                       tpl-checked="$author->author_grade > 0">
                <label for="hinne5">5</label></td>
        </tr>
        <tr class="input-name">
            <td tpl-if=$action></td>
            <td tpl-if=$action class="submit-button"><input type="submit" name="deleteButton"
                                                                  id="delete-button"
                                                                  value="Delete"
                                                                  class="submit-button"></td>
            <td class="submit-button"><input type="submit" name="submitButton" id="submit-button"></td>
        </tr>
    </table>
</form>