<div class="tabel">
    <table>
        <tr tpl-if="$action" class="add-text">
            <td id='message-block'>{{ $action }}</td>
        </tr>
        <tr>
            <td class="name">Pealkiri</td>
            <td class="name">Autorid</td>
            <td class="name">Hinne</td>
        </tr>
        <div tpl-foreach="$books as $book">
            <tr>
                <td class="name_of"><a href='?cmd=book-edit&id={{$book->book_id}}'>{{$book->title}}</a></td>

                <div tpl-foreach="$book->authors as $author">
                    <td class="name_of">{{ $author->first_name }} {{ $author->last_name }}</td>
                </div>

                <td class="name_of">{{ $book->book_grade }}</td>
            </tr>
        </div>

    </table>
</div>

