<form action="../index.php?cmd=save-book" method="post">
    <table>
        <tr tpl-if=$action class="add-text">
            <td>Muuda sissekannet:</td>
        </tr>
        <tr tpl-if=$errors class='error-block'>
            <td>{{ $errors[0] }}</td>
        </tr>
    </table>
    <input type="hidden" name="book_id" value='{{$book->book_id}}'>
    <input type="hidden" name="cmd" value="save-book">
    <input tpl-if=$action type="hidden" name="edit" value="edit">
    <table>
        <tr class="input-name">
            <td class="first-part"><label for="pealkiri">Pealkiri:</label></td>
            <td><input type="text" id="pealkiri" name="title" class="input"
                       value="{{$book->title}}"/>
            </td>
        </tr>
        <tr class="input-name">
            <td class="first-part"><label for="autor1">Autor 1:</label></td>
            <td><select id="autor1" class="input" name="author1">
                <option value=null></option>
                <tpl tpl-foreach="$authors as $author">
                    <option value="{{$author->author_id}}" tpl-selected="$author1 == $author">{{ $author->first_name }} {{ $author->last_name }}</option>
                </tpl>
            </select></td>
        </tr>
        <tr class="input-name">
            <td class="first-part"><label for="autor1">Autor 2:</label></td>
            <td><select id="autor2" class="input" name="author2">
                <option value=null></option>
                <tpl tpl-foreach="$authors as $author">
                    <option value="{{$author->author_id}}" tpl-selected="$author2 == $author">{{ $author->first_name }} {{ $author->last_name }}</option>
                </tpl>
            </select>
            </td>

        </tr>

        <tr class="input-name">
            <td class="first-part"><label>Hinne:</label></td>
            <td><input type="radio" id="hinne1" name="grade" value="1"
                       tpl-checked="$book->book_grade > 0">
                <label for="hinne1">1</label>
                <input type="radio" id="hinne2" name="grade" value="2"
                       tpl-checked="$book->book_grade > 0">
                <label for="hinne2">2</label>
                <input type="radio" id="hinne3" name="grade" value="3"
                       tpl-checked="$book->book_grade > 0">
                <label for="hinne3">3</label>
                <input type="radio" id="hinne4" name="grade" value="4"
                       tpl-checked="$book->book_grade > 0">
                <label for="hinne4">4</label>
                <input type="radio" id="hinne5" name="grade" value="5"
                       tpl-checked="$book->book_grade > 0">
                <label for="hinne5">5</label></td>
        </tr>
        <tr class="input-name">
            <td class="first-part"><label for="loetud">Loetud:</label></td>
            <td><input type="checkbox" id="loetud" name="isRead" value="1" tpl-selected="$book->is_read > 0"></td>
        </tr>
        <tr class="input-name">
            <td tpl-if=$action></td>
            <td tpl-if=$action class="submit-button"><input type="submit" name="deleteButton"
                                                            id="delete-button"
                                                            value="Delete"
                                                            class="submit-button"></td>
            <td class="submit-button"><input type="submit" name="submitButton" id="submit-button"></td>
        </tr>
    </table>
</form>