html {
    height: 100%
}

body {
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    min-width: 30rem;
    max-width: 45rem;
    border: none;
}

nav a {
    color: inherit;
}

nav span {
    padding: 0.6rem;
}

nav, footer {
    padding: 0.6rem;
    background-color: lavender;
    color: dimgrey;
    border: none;
}

main {
    border: none;
    height: calc(100vh - 9rem);
    margin-top: 1em;
    min-height: 15em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

form {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 35rem;
    margin: 0 auto;
}

.add-text{
    color: #736699;
    font-weight: bold;
    font-size: large;
}
.error-block{
    color: brown;
    font-weight: bold;
}

.name {
    font-weight: bold;
    color: dimgray;
    border-bottom: 3px solid gray;
}

.name-of {
    color: gray;
    padding-top: 1em;
}

.input-name {
    color: gray;
    width: 28rem;
    font-size: large;
    padding-bottom: 1rem;
}

.input {
    color: dimgray;
    width: 28rem;
    border: 1px solid gray;
    border-radius: 0.5em;
    box-sizing: border-box;
}

.submit-button {
    text-align: right;
}

#submit-button {
    background-color: lavender;
    color: dimgrey;
    border: 1px solid gray;
    border-radius: 0.5em;
}

#delete-button {
    background-color: lavender;
    color: dimgrey;
    border: 1px solid gray;
    border-radius: 0.5em;
}

.first-part {
    padding-right: 2rem;
}
