<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>book-list</title>
    <link href="../templates/list-style.css" rel="stylesheet">
</head>
<body>
<nav tpl-include="nav.html"></nav>
<main tpl-include="{{ $contentPath }}"></main>
<footer>
    ICD0007 projekt
</footer>
</body>
</html>