<nav>
    <a href="?cmd=book-list" id="book-list-link">Raamatud</a>
    <span>|</span>
    <a href="?cmd=book-add" id="book-form-link">Lisa raamat</a>
    <span>|</span>
    <a href="?cmd=author-list" id="author-list-link">Autorid</a>
    <span>|</span>
    <a href="?cmd=author-add" id="author-form-link">Lisa autor</a>
</nav>